@font-face {
    font-family: 'Muller';
    src: url('../fonts/muller-regular.woff2');
    src: local('Muller'), local('Muller'),
        url('../fonts/muller-regular.woff2') format('woff2'),
        url('../fonts/muller-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'Muller';
    src: url('../fonts/muller-medium.woff2');
    src: local('Muller'), local('Muller'),
        url('../fonts/muller-medium.woff2') format('woff2'),
        url('../fonts/muller-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'Muller';
    src: url('../fonts/muller-bold.woff2');
    src: local('Muller'), local('Muller'),
        url('../fonts/muller-bold.woff2') format('woff2'),
        url('../fonts/muller-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} 

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Muller', sans-serif;
}

